@font-face {
	font-family: "swansea";
	src: url("Swansea.ttf");
}
@font-face {
	font-family:"painter";
	src: url("Painter.ttf");
}
@font-face {
	font-family:"bookerly";
	src: url("Bookerly.ttf");
}
/*
blue: #b9cbcb
oasis: #d7d4c1
*/


body {
	font-family: "bookerly"; 
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background: #b9cbcb ;
	background: #d7d4c1 ;
	color: #0b0b0b;
}
header {
	background: #d7d4c1;
	width:100%;
	height: 50px;
	position: fixed;
	box-shadow: 2px 2px 0 #0b0b0b;
	display: flex;
	align-items: center;
	z-index: 10;
}

header button, .import {
	border-radius: .25rem;
	padding: .375rem .75rem;
	background: #b9cbcb;
	border: 2px solid  #0b0b0b;
	font-family: "bookerly";
	margin: 0 15px;
	font-size: 14px;
	box-shadow: 1px 1px 0px #0b0b0b;
}

header .export-clippings {
	position: absolute;
	right: 5px;
}
 


header .imported-file-count {
	color: #989491;
	font-size: 14px;
	display: inline-block;
}
header .imported-file-count:hover {
	transform: scale(1.05);
	cursor: help;
}
.logo {
	margin-top: 80px;
}


input[type="file"] {
    display: none;
}

header .import {
	margin-left: 15px;
}
header .import:hover {
	cursor: pointer;
}

#search-input::placeholder {
	color: #989491;
}
#search-input {
	border: 2px solid black;
	font-size: 28px;
	border-radius: 0.25em;
	background: #b9cbcb;
	padding:.375rem .75rem;
	box-shadow: 2px 2px 0 #0b0b0b;
	font-family: "bookerly";
}
#search-input:hover, #search-input:focus {
	transform: scale(1.05);
}

.quote-box {
	border: 3px solid #0b0b0b;
	border-radius: 10px;
	background: #d7d4c1;
	background: #b9cbcb;
	font-family: "bookerly";
	margin: 10px 0;
	padding: 10px;
	box-shadow: 2px 2px 0px #0b0b0b;
	position: relative;
	font-size: 16px;
	transform: rotateX(-360deg);
	transition: 0.5s;
}

.quote-disabled {
	text-decoration: line-through;
	opacity: 0.6;
	transform: rotateX(360deg);
	transition: 0.5s;
}

.quote-box .locs {
	font-size: 14px;
	position: absolute;
	right: 35px;
	bottom: 5px;
}

.quote-box input {
	position: absolute;
	right: 5px;
	bottom: 5px;

}

.quote-box q {
	font-size:18px;
}
.quote-box .date {
	font-size: 12px;
	color: #989491;
}

.buttons {
	margin-top: 20px;
	margin-bottom: 20px;
}

.buttons button {
	border-radius: .25rem;
	padding: .375rem .75rem;
	background: #b9cbcb;
	border: 2px solid  #0b0b0b;
	font-family: "bookerly";
	margin: 0 15px;
	font-size: 16px;
	box-shadow: 2px 2px 0px #0b0b0b;
}

.buttons button:hover, header .import:hover, header button:hover, header .export-clippings:hover {
	cursor: pointer;
	transform: scale(1.05);
}
.buttons button:active, header .import:active, header .export-clippings:active {
	transform: scale(0.98);
}

.result-count {
	margin: 0;
	font-size: 16px;
}

.results-info {
	margin: 15px 0;
	padding-top: 10px;
	padding-bottom: 15px;
	display: flex;
	position: relative;
	border-top: 3px dashed #0b0b0b;
}



.results-info .filters select {
	font-family: "bookerly";
	display: inline-block;
	margin-left: 10px;
	background: #b9cbcb;
	border: 2px solid #0b0b0b;
	border-radius: .25rem;
	font-size: 16px;
	box-shadow: 2px 2px 0 #0b0b0b;
}
.filters select option {
	font-family: "bookerly";
	font-size: 16px;
} 
.results-info .filters select:hover, .results-info .filters select:focus {
	transform: scale(1.05);
	cursor: pointer;
}
h1 {
	font-size: 52px;
	font-family: "bookerly";
	margin-top: 10px;
	text-align: center;
}


main {
	margin: 0 5px;

}
@media screen and (min-width: 800px) {
	main {
		margin: 0 10%;
	}
} 


@media screen and (min-width:551px) {
	.results-info .filters {
		position: absolute;
		right: 0;
	}
	.results-info .filters select {
		max-width: 200px;
		min-width: 200px;
		margin-left: 10px;
	}

}
@media screen and (max-width:550px) {
	#search-input {
		width: 90%;
	}
	#search-box button {
		height: 50px;
	}
	.results-info {
		display: flex;
		flex-direction: column;
	}
	.filters{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.filters select {
		height:40px;
		width: 85%;
		max-width: 90%;
		margin-left: 0;
		margin-top: 20px;
	}
	p.result-count {
		text-align: center;
	}
	h1 {
		font-size: 32px;
	}
}



#search-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

